@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>

<div class="alert alert-success">
    <i class="fas fa-thumbs-up"></i>&nbsp; Please check your email to reset your password.
</div>

Go to the <a href="@Url.Action("Login", "Account")">Sign In</a> page.
