@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h3>@ViewBag.Title</h3>
</hgroup>
<div>
    <div class="alert alert-success">
        <i class="fas fa-thumbs-up"></i>&nbsp; Your password has been reset. Please @Html.ActionLink("click here to Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
</div>