@model RoverController.Web.ViewModels.UserSettingsViewModel
@using RoverController.Web.Helper

@{
    var hideWorkOrders = string.Empty;
    var hideDirectDrops = string.Empty;
    var hideServiceOrders = string.Empty;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserId)

    <div class="zoom-anim-dialog modal-block modal-block-primary modal-block-sm">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Preferences</h2>
            </header>
            <div class="card-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <div class="form-group mb-3">
                            <div class="row">
                                @if (ViewHelper.IsUser)
                                {
                                    <div class="col-lg-12 mb-3">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-default modal-dismiss">Cancel</button>
                        <button type="submit" class="btn btn-primary modal-confirm">Save</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")