@{
    ViewBag.Title = "Home Page";
}

<header class="page-header">
    <h2>Dashboard</h2>

    <div class="right-wrapper text-right">
        <ol class="breadcrumbs">
            <li>
                <span>
                    <i class="icons icon-home"></i>
                    <span>Dashboard</span>
                </span>
            </li>
        </ol>

        @*<a class="sidebar-right-toggle" data-open="sidebar-right"></a>*@
    </div>
</header>